.cart-con-bg{
    border: 1px solid green;
    width: 100vw;
    height: 50vh;
    padding: 15px;
    margin-top: 120px;
    background-color: #d2c9ff;
}

.ordered-item{
    border: 1ps solid yellow;
    height: auto;
    width: 90vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ordered-img{
    height: 100px;
    width: 120px;
}
.products-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.product-heading-price-con{
    margin-left: 10px;
   
}
.p-heading{
    /* padding: 0px; */
    margin: 0px;
}
.p-rs{
   /* padding: 0px; */
   margin: 2px;
}

.pr-count-btn{
    border-radius: 30px;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    
}

.count-input{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    letter-spacing: 0;
    vertical-align: middle;
}