.soaps-bg{
    height: auto;
}
.soap-banner-image{
    width: 100%;
    height:450px ;
    background-size: cover;
    background-position: center;
    margin-top: 123px;
    border: 1px solid red;
        
}
.soaps-body-con{
    background-color: #fff;
    padding: 20px;
   border: 1px soild yellow ;
   margin-bottom: 100px;
   height: auto;

    
}